VITE_SUPABASE_URL=https://ovqsurimkekfcjzfaplo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92cXN1cmlta2VrZmNqemZhcGxvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0MTgyOTAsImV4cCI6MjA5MTk5NDI5MH0.5BE-L6ZNhWwXVGkTM72EbQkYwW0A76nmc0x_HQYJlbo
